@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}
:root{
  --Primary: #f8f8f8;
  --Secondary: #f2f0ec;
  --Accent: #011429;
  --Default: #030303;
  --Background: #06060554;
  --NavSecondary: #ffffffe3;
  --NavBackgroundTwo: #ffffff84;
  --NavBackground: #ffffff00;
  --Inline: inline-end;
}
.header{
  background-image: url(../src/assets/Image-two.jpg);
  background-color: var(--Background);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vh;
}
.about-header{
  background-image: url(../src/assets/about.jpg);
  background-color: var(--Background);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vh;
}
.service-header{
  background-image: url(../src/assets/services.jpg);
  background-color: var(--Background);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0vh;
}
body{
font-family: "Chakra Petch", serif;
}
nav{
  background: linear-gradient(var(--Primary), var(--NavSecondary), var(--NavBackgroundTwo), var(--NavBackground));
}